@import 'reset';
@import 'vars';

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: sans-serif;
  background: #2F3640;
  color: #2F3640;
  transition: transform 0.6s cubic-bezier(0.77, 0, .17, 1);
  scroll-behavior: smooth;
}
