@import 'reset';
@import 'vars';

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  height: 100%;
  font-family: sans-serif;
  background: #2F3640;
  color: #2F3640;
  scroll-behavior: smooth;
}
