@import './_reset.css';

* {
  box-sizing: border-box;
  font-size: 16px;
}

[contenteditable]:focus {
  outline: 1px solid #2E3540;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: #2F3640;
  color: #2F3640;
  scroll-behavior: smooth;
}
